body {
    background-color: silver;
}

h1 {
    color: beige;
}

h3 {
    color: beige;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: silver;
    border-width: 5px;
    width: 5%;
}
