body {
    background-color: #F4E0FF;
}

h1 {
    color: beige;
}

h3 {
    color: beige;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #F4E0FF;
    border-width: 5px;
    width: 5%;
}
